html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: source-sans-pro, sans-serif;
    font-size: 13px;
    
}

p {
    margin: 0;
}

#container {
    width: 375px;
    margin: 0 auto;
    background-color: #c9c9c9;
}

.post {
    background-color: white;
    border-bottom: 20px solid #dedede;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.img-logo {
    width: 127px;
    margin: auto 16px;
}

.post-author{
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid #dedede;
}

.img-user {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: auto 16px;
}

.img-op {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 10px;
}

.op-location {
  margin: auto 0;
}

.op-name {
    font-weight: bold;
}

.img-post {
    max-width: 100%;
}

.post-icons {
    margin: 10px;
}

.icon-like, .icon-comment, .icon-dm {
    width: 22px;
    
}

.icon-comment {
    padding: 0 10px;

}

.post-likes {
    margin: 10px;
    font-weight: bold;
}

.post-comments {
    margin: 10px;
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
}